In [1]:
#notebook for snotel site analysis

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import g_key

In [2]:
#Prepare intro images and analysis
#google map showing location, name and elevation of each snotel site
snotel = "resources/Snotel_Sites.csv"
snotel_df = pd.read_csv(snotel)
snotel_df.head()

,site_name,start,lat,lon,elev,Avg_SWE,county
0,Bear Lake (322),1979-October,40.31,-105.64,9500,20.82,Larimer
1,Berthoud Summit (335),1963-September,39.80,-105.78,11300,22.88,Grand
2,Brumley (369),1979-October,39.09,-106.54,10600,12.22,Lake
3,Butte (380),1979-October,38.89,-106.95,10160,15.80,Gunnison
4,Columbine (408),1978-October,40.39,-106.60,9160,25.85,Jackson

In [9]:
gmaps.configure(api_key=g_key)
sites=snotel_df[["lat","lon"]]
elevation=snotel_df["elev"]
name=snotel_df["site_name"]

fig=gmaps.figure()

sitename=snotel_df["site_name"].tolist()
markers=gmaps.marker_layer(sites,info_box_content=[f"{x}" for x in sitename])

fig.add_layer(markers)


fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# examine elevation vs. average SWE